html,
body {
	height: 100%;
}

@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

html.dark {
	--background: #17171a;
	--foreground: #ededed;
}

/* Apply theme variables to the whole page so toggling the .dark class updates background and text */
body {
	background-color: var(--background);
	color: var(--foreground);
	transition:
		background-color 0.25s ease,
		color 0.25s ease;
	min-height: 100vh;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto-sans);
}
